<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile *ngFor="let project of projects" >
    <mat-card class="example-card"  >
      <mat-card-header>
        <div mat-card-avatar style="background-image: url('{{project.img}}'); background-size: cover;">
        </div>
        <mat-card-title>{{ project.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.technology }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ project.description }}
        </p>
        <br />
        <p>
          {{ project.participation }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button href={{project.link}} target="_blank">REPOSITORIO</a>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<router-outlet></router-outlet>
